# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BOBApp/BOBApp/bin/x86/Debug/BOBApp.exe
BOBApp/BOBApp/bin/x86/Debug/BOBApp.pdb
BOBApp/BOBApp/bin/x86/Debug/Libraries.dll
BOBApp/Libraries/obj/x86/Debug/Libraries.dll
BOBApp/Libraries/bin/x86/Debug/Libraries.pdb
BOBApp/BOBApp/obj/x86/Debug/Views/VindRit1.g.cs
BOBApp/BOBApp/obj/x86/Debug/Views/Ritten.g.i.cs
BOBApp/BOBApp/obj/x86/Debug/Views/Punten.g.i.cs
BOBApp/BOBApp/obj/x86/Debug/Views/Profiel.g.i.cs
BOBApp/BOBApp/obj/x86/Debug/Views/MainView.g.cs
BOBApp/BOBApp/obj/x86/Debug/Views/Login.g.cs
BOBApp/BOBApp/obj/x86/Debug/MainPage.g.i.cs
BOBApp/BOBApp/obj/x86/Debug/Core/Libraries.pdb
BOBApp/BOBApp/obj/x86/Debug/Core/BOBApp.exe
BOBApp/BOBApp/obj/x86/Debug/BOBApp.pdb
BOBApp/BOBApp/obj/x86/Debug/App.g.cs
BOBApp/BOBApp/bin/x86/Debug/Core/Libraries.dll
BOBApp/BOBApp/bin/x86/Debug/AppX/Assets/testpin.png
BOBApp/BOBApp/bin/x86/Debug/BOBApp.build.appxrecipe
BOBApp/BOBApp/bin/x86/Debug/BOBApp.exe
*.suo

# Debug
BOBApp/BOBApp/obj/x86/Debug/*
BOBApp/BOBApp/bin/x86/Debug/QueryString.NETCore.dll
BOBApp/.vs/BOBApp/v14/.suo
