<div id="overlay">
    <aside>

    </aside>
</div>

<header>
    <section class="container">
        <div class="row">
            <div class="col-md-4 col-xs-7">
                <div id="logo">
                    <a href="http://www.centaura.be"><img src="./images/centaura.png"/></a>

                </div>
            </div>
            <div class="col-md-4 col-xs-5 title" ng-click="Begin()">Centaura</div>
            <div class="col-md-4"><md-button ng-show="user!=null" ng-click="LogOff()" ng-disabled="isDisabled == true" class="btn btn-submit">Uitloggen</md-button> </div>
        </div>
    </section>
</header>